*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 2rem;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #2d0080;
}
img{
    width: 50%;
    object-fit: cover;
}
h1{
    font-size: 70px;
    color: rgb(0, 241, 0);
    justify-self: center;
}
p{
    font-size: 20px;
    margin-top: 2rem;
    text-align: center;
    color: aliceblue;
    justify-self: center;
}